<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <section class="container">
    <div class="result_field">
        <!-- Container for user and BOT result images -->
        <div class="result_images">
            <span class="user_result">
                <img id="userChoiceImg" src="{{ url_for('static', filename='images/rock.png') }}" alt="User's choice image" />
            </span>
            <span class="bot_result">
                <img id="compChoiceImg" src="{{ url_for('static', filename='images/rock.png') }}" alt="BOT's choice image" />
            </span>
        </div>
        <div id="resultMessage" class="result">Let's Play!</div>
    </div>

    <div class="score">
        <p>User: <span id="userScore">0</span> | Bot: <span id="compScore">0</span></p>
    </div>

    <div class="option_images">
        <span class="option_image" onclick="playGame('R')">
            <img src="{{ url_for('static', filename='images/rock.png') }}" alt="Rock image" />
            <p>Rock</p>
        </span>
        <span class="option_image" onclick="playGame('P')">
            <img src="{{ url_for('static', filename='images/paper.png') }}" alt="Paper image" />
            <p>Paper</p>
        </span>
        <span class="option_image" onclick="playGame('S')">
            <img src="{{ url_for('static', filename='images/scissors.png') }}" alt="Scissors image" />
            <p>Scissors</p>
        </span>
    </div>

    <div class="controls">
        <button onclick="startGame()" class="button">Start</button>
        <button onclick="stopGame()" class="button">Stop</button>
        <button onclick="resetGame()" class="button">Reset</button>
    </div>
  </section>
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
